#root {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
body {
  margin: 0 auto;
  background-color: rgb(7, 10, 41);
}

h1 {
  font-family: 'Cambria', 'Times New Roman', Times, serif;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-top: 1em;
}
a {
  color: black;
}

main {
  display: flex;
  flex-direction: row;
}

.searchView {
  flex: 1;
  padding: 2em;
  background-color: rgb(42, 48, 99);
  border-style: solid;
  border-width: 2px;
  min-height: 800px;         /* could be done more cleanly */
}
.searchForm {
  background: lightgrey;
  border-style: solid;
  border-radius: 0.3em;
  border-color: rgb(8, 8, 80);
  padding: 0.8em;
  margin: 1em;
  display: inline-flex;
}

#searchInput {
  font-size: 16px;
  background-color: white;
}
button {
  margin-left: 1em;
  padding: 0.5em;
}
.searchMsg {
  margin: 1em;
  color: white;
}

.searchResultTitle {
  padding: 0.5em;
  margin-top: 1em;
  color: white;
}
.searchResult {
  color: rgb(32, 32, 32);
  padding: 1em 0.5em;
  font-size: 16px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: rgb(239, 240, 243);
}
.searchResult:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em #caccf0aa);
}
/*
hr {
  margin-left: 0.5em;
  margin-right: 1em;
}*/

.contentView {
  flex: 2;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgb(232, 237, 238);
}

.header {
  background: rgb(177, 176, 179);
  padding: 2em;
  flex: 2;
}
.tabButtonRow {
  width: max-content;
}
.tabButton {
  background: rgb(239, 240, 243);
  min-width: 100px;
  margin-right: 1em;
  border-radius: 0.3em;
}
.tabButton:hover {
  background: rgb(211, 213, 221);
}
.tabButtonActive {
  background: rgb(210, 221, 247);
  min-width: 100px;
  margin-right: 1em;
  border-radius: 0.3em;
}

.mainView {
  margin: 1em;
  padding-top: 1em;
}

.achievementView {
  margin: 1em;
  padding-top: 1em;
}
.sortSelect {
  float: right;
}
table, th, td {
  background: rgb(210, 221, 247);
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  margin-top: 1em;
  padding: 10px;
}
.nameColumn {
  font-size: 17px;
}
.percColumn {
  white-space: nowrap;
}

.statsView {
  margin: 1em;
  padding-top: 1em;
}

.newsView {
  margin: 1em;
  padding-top: 1em;
}
.newsItem {
  margin: 1em;
  padding: 1em;
  background: rgb(227, 218, 247);
  border-style: dashed;
  border-width: 1px;
}
.newsItem:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em #252746aa);
}
.loadMoreButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

dialog {
  margin: auto;
  width: 50%;
  padding: 20px;
  border-radius: 0.3em;
  border-color: rgb(52, 43, 85);
  box-shadow: 0 0 0.5em 0.25em hsl(0 0% 0% / 10%);
}
::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.5;
}
.closeButton {
  float: right;
}
