#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em;
}

section {
  display: flex;
  flex-direction: row;
}

.searchView {
  max-width: 400px;
  margin: 10px;
  flex: 1;
}
.searchForm {
  background: lightgrey;
  border-style: solid;
  border-radius: 0.3em;
  border-color: rgb(8, 8, 80);
  padding: 0.7em;
  margin-bottom: 0.6em;
  display: inline-block;
}
input {
  font-size: 16px;
}
button {
  margin-left: 1em;
  padding: 0.5em;
}
.searchResult {
  color: rgb(32, 32, 32);
  padding: 1em 0.5em;
  font-size: 16px;
  margin-left: 1em;
  background: rgb(239, 240, 243);
}
.searchResult:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em #252746aa);
}

hr {
  margin-left: 0.5em;
  margin-right: 1em;
}

.sortSelect {
  float: right;
}
.achievementView {
  margin: 1em;
  flex: 2;
}
table, th, td {
  background: rgb(210, 221, 247);
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  margin-top: 1em;
  padding: 10px;
}
.nameColumn {
  font-size: 17px;
}
.percColumn {
  white-space: nowrap;
}
.tabButton {
  background: lightgrey;
  min-width: 100px;
}

.newsView {
  margin: 1em;
  flex: 2;
}
.newsItem {
  margin: 1em;
  padding: 1em;
  background: rgb(227, 218, 247);
  border-style: dashed;
  border-width: 1px;
}
.newsItem:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em #252746aa);
}
.loadMoreButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

dialog {
  margin: auto;
  width: 50%;
  padding: 20px;
  border-radius: 0.3em;
  border-color: rgb(52, 43, 85);
  box-shadow: 0 0 0.5em 0.25em hsl(0 0% 0% / 10%);
}
::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.5;
}
.closeButton {
  float: right;
}

.searchMsg {
  margin: 1em;
}
.resultMsg {
  margin: 1em;
}
